<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/now-playing">Now Playing</a></li>
            <li><a href="/popular">Popular</a></li>
            <li><a href="/top-rated">Top Rated</a></li>
            <li><a href="/upcoming">Upcoming</a></li>
            <li style="margin-left: auto;"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>
